.card {
    padding: 30px;

    background: rgba(193, 236, 76, 0.507);
    box-shadow: 5px 5px 25px #181717;
    border-radius: 15px;

    font-family: sans-serif;
    text-align: center;
}

.card-img-top {
    width: 200px;

    border-radius: 50%;
}
img {
    width: 100%;
}

.card-title-user {
    margin: 20px 0 0 0;
}

.disabled {
    opacity: 0.5;
}

.is-small {
    width: 150px;
}

.is-large {
    width: 250px;
}